# Dependency directories
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Build outputs
/frontend/dist
/frontend/build
/backend/bin

# Environment and local files
.env*
!.env.example
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/logs
/backend/logs
*.log

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/backend/vendor/
/backend/Godeps/

# Add to .gitignore
backend/ssh_host_key
backend/ssh_host_key.pub

test.txt
test.txt.pub